// colors
.primary-color {
  background-color: #25294E;
  color: #f3f3f5;
}
.secondary-color {
  background-color: #f3f3f5;
  color: #67595E;
}
// Sizing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;